<form>
    <div class="form-group">
      <label for="exampleInputEmail1">Nom</label>
      <input type="text" class="form-control" placeholder="Entrer Nom" name="nom">
      <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
    </div>
    <div class="form-group">
      <label for="exampleInputPassword1">Prenom</label>
      <input type="text" class="form-control" placeholder="Entrer Prenom" name="prenom">
    </div>
    <div class="form-group">
        <label for="exampleInputPassword1"> Specialite</label>
        <input type="text" class="form-control" placeholder="Specialite" name="specialite">
    </div>
    <div class="form-group">
        <label for="exampleInputPassword1"> Exercice</label>
        <input type="text" class="form-control" placeholder="Exercice" name="Exercice">
    </div>
    <div class="form-group">
        <label for="exampleInputPassword1"> Ug</label>
        <input type="text" placeholder="Ug" name="ug">
    </div>
    <div class="form-group">
        <label for="exampleInputPassword1"> Ville</label>
        <input type="text" placeholder="Ville" name="ville">
    </div>
    <div class="form-group">
        <label for=""> Adresse</label>
        <input type="text" placeholder="Adresse" name="adresse">
    </div>
    <div class="form-group">
        <label for=""> Potentiel</label>
        <input type="text"  placeholder="potentiel" name="potentiel">
    </div>
    <div class="form-group">
        <label for=""> coeur_de_cibile</label>
        <input type="text"  placeholder="coeur" name="coeur">
    </div>
    <div class="form-group">
        <label for=""> Titre</label>
        <input type="text"  placeholder="titre" name="titre">
    </div>
    <div class="form-group">
        <label for=""> Frequence</label>
        <input type="text"  placeholder="frequence" name="frequence">
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
  </form>